.gpt3__features-contianer__feature{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
    margin: 1rem;
}
.gpt3__features-contianer__feature-title{
    flex: 1;
    max-width: 180px;
    margin-right: 2rem;
}
.gpt3__features-contianer__feature-title h1{
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 18px;
    line-height: 24px;
    color: #ffffff;
    letter-spacing: -0.04rem;

}
.space{
    width: 38px;
    height: 3px;
   
    background: var(--gradient-bar);
    margin-bottom: 0.25rem;
}
.gpt3__features-container_feature-text{
    flex: 2;
    max-width: 390px;
    display: flex;
    font-size: 14px;
    line-height: 14px;
    color: var(--color-text);
}

@media screen and (max-width: 550px) {
    .gpt3__features-contianer__feature-title h1{
        font-size: 14px;
        line-height: 22px;
    }
    .gpt3__features-contianer__feature-title p{
        font-size: 12px;
        line-height: 20px;
    }
    .gpt3__features-contianer__feature{
        margin: 1rem 0;
    }
}
